#grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 2px;
    width: fit-content;
    margin: 20px auto;
}

#grid div {
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    user-select: none;
}

.checked {
    background: #ddd;
}

.flag {
    background: yellow;
}
